body{
    background: url(paper.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
li{
    display: inline-block;
    text-align: right;
    text-decoration: none;
}
a{
    text-decoration: none;
    text-align: right;
}
html{
    font-size: 24px;
}