body{
    background: url(instanbul.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
ul>li{
    display: inline-block;
    text-align: right;
}
nav{
    text-align: left;
}
a{
    text-decoration: none;
    color: #1F3DFF;
}
p{
    font-size: 22px;
    font-family: Calibri;
}
@media (min-width 600px){
    p{
        font-size 20px;
    }
