body{
    background: url(instanbul.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
ul>li{
    display: inline-block;
    text-align: right;
}
nav{
    text-align: left;
}
a{
    text-decoration: none;
}