html{
  font: normal 100%/1.5 Georgia,serif;
}
body{
  background: brown;
  background:url(img1.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  font-size: x-large;
  margin: 0;;
}
img{
  width: 400px;
  height: 300px;
  margin: auto 0;
  padding-left: 10px;
}
.header{ color: en
}
.body contents{
  font-size: 18px;
}
nav>ul>li{
  padding: right;
  color: blue;  
  display: inline-block;
  text-transform: capitalize;
  text-decoration: blueviolet;
  text-align: right
}
h1{
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 80px;
  font-style: italic;
  font-weight: lighter;
  text-decoration: none;
  text-transform: lowercase;
  color: blue;
  letter-spacing: 4px;
}
nav{
  display: inline-block;
  margin: 0;
  list-style-type: none;
  float: right;
  color: gold;
}
a{
  text-decoration: none;
  display: inline-block;
}