body{
  background: purple;

}
img{
  width: 300px;
  height: 300px;
  /*margin: auto 0;*/
  padding-left: 10px;
}
.header{ color: black;
  font-size: 16px;
  font-family: sans-serif;
}
.body contents{
  font-size: 14px;
  }
