body{
  background: brown;
  background:url(image4.jpeg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  font-size: x-large;
}
img{
  width: 300px;
  height: 300px;
  /*margin: auto 0;*/
  padding-left: 10px;
}
.header{ color: black;
  font-size: 20px;
  font-family: sans-serif;
}
.body contents{
  font-size: 18px;
  }
  